# Ignore node_modules in the backend
backend/node_modules/

# Ignore node_modules in the frontend
frontend/node_modules/

# Ignore .env files
backend/.env
frontend/.env

# Ignore log files
*.log

# Ignore build directories
build/
dist/
